<header class="header">
    <nav>
        <a href="/homeview" class="logo" title="logo">
            <img src="/Images/logo.png" class="logo-main" alt="logo">
        </a>
        <div class="nav-links" id="navLinks">
            <i class="bi bi-arrow-right" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/homeview">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/services">SERVICES</a></li>
                <li><a href="/products">PRODUCTS</a></li>
                <li><a href="/contact">CONTACT US</a></li>
            </ul>
        </div>
        <i class="bi bi-list" onclick="showMenu()"></i>
    </nav>
</header>