<section class="sub-header">
    <nav>
        <a href="index.ejs" class="logo" title="logo">
            <img src="./Images/logo.png" class="logo-main" alt="logo">
        </a>
        <div class="nav-links" id="navLinks">
            <i class="bi bi-arrow-right" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index.ejs">HOME</a></li>
                <li><a href="about.ejs">ABOUT US</a></li>
                <li><a href="services.ejs">SERVICES</a></li>
                <li><a href="products.ejs">PRODUCTS</a></li>
                <li><a href="contact.ejs">CONTACT US</a></li>
            </ul>
        </div>
        <i class="bi bi-list" onclick="showMenu()"></i>
    </nav>
    <h1>Contact Us</h1>
</section>

<!-- Content -->
<section class="location">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234700.30415009515!2d77.26580221633914!3d23.199663281474713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c428f8fd68fbd%3A0x2155716d572d4f8!2sBhopal%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1642401235046!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>

<section class="contact-us">
    <div class="row">
        <div class="contact-col">
            <div>
                <i class="bi bi-house"></i>
                <span>
                    <h5>XYZ Road, ABC Building</h5>
                    <p>Bhopal, Madhya Pradesh, IN</p>
                </span>
            </div>
            <div>
                <i class="bi bi-phone"></i>
                <span>
                    <h5>+91 90XXXXXX49</h5>
                    <p>Monday to Saturday, 10AM to 6PM</p>
                </span>
            </div>
            <div>
                <i class="bi bi-envelope"></i>
                <span>
                    <h5>services.zulio@gmail.com</h5>
                    <p>Email us your query</p>
                </span>
            </div>
        </div>
        <div class="contact-col">
            <form action="form-handler.php" method="post">
                <input type="text" name="name" placeholder="Enter Name">
                <input type="email" name="email" placeholder="Enter Email">
                <input type="text" name="subject" placeholder="Enter Subject">
                <textarea rows="8" name="message" placeholder="Your Query"></textarea>
                <button type="submit" class="btn">Send Message</button>
            </form>
        </div>
    </div>
    </div>
</section>



<!-- Footer -->
<section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat maiores maxime dignissimos delectus
        tempora<br>atque vero excepturi, nihil numquam molestiae doloribus quae eius nobis laboriosam,<br>
        exercitationem consectetur praesentium ab! Ratione? </p>
    <div class="icons">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-youtube"></i>
    </div>
    <!-- Empty  -->
    <p></p>

    <p class="last">
        <a href="about.ejs">Zulio © 2022</a>
        <a href="privacy.ejs">Privacy & Legal</a>
    </p>
</section>

<!-- Javascript -->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = '0';
    }
    function hideMenu() {
        navLinks.style.right = '-200px';
    }
</script>