<!-- Landing -->
<div class="text-box">
    <h1>Welcome To Zulio</h1>
    <p>We Provide Zippy, Unique, Likable, Innovative & Original Services</p>
    <a href="/about" class="hero-btn">Learn More</a>
</div>

<!-- Services -->

<section class="services">
    <h1>Services We Provide</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure molestias pariatur porro<br> rem inventore atque
        exercitationem laborum quos quibusdam earum.
    </p>

    <div class="row">
        <div class="service-col">
            <h3>Basic</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col">
            <h3>Classic</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col">
            <h3>Premium</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
    </div>
</section>

<!-- Products -->
<section class="products">
    <h1>Our Products</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis quis laborum consequatur<br> eligendi, hic
        reiciendis dolorem odit beatae? Assumenda, quos.</p>
    <div class="row">
        <div class="product-col">
            <img src="/Images/post-1.jpg" alt="img">
            <div class="layer">
                <h3>PRODUCT 1</h3>
            </div>
        </div>
        <div class="product-col">
            <img src="/Images/post-2.jpg" alt="img">
            <div class="layer">
                <h3>PRODUCT 2</h3>
            </div>
        </div>
        <div class="product-col">
            <img src="/Images/post-3.jpg" alt="img">
            <div class="layer">
                <h3>PRODUCT 3</h3>
            </div>
        </div>
    </div>
</section>

<section class="testimonial">
    <h1>What Our Customers Say</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <div class="row">
        <div class="testimonial-col">
            <img src="/Images/user.png" alt="img">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ullam a molestiae eveniet
                    perferendis, exercitationem officia corporis autem eaque omnis asperiores assumenda hic doloribus
                    vel at, numquam placeat repellendus. Sint?</p>
                <h3>Christine Berkley</h3>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <div class="testimonial-col">
            <img src="/Images/user.png" alt="img">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ullam a molestiae eveniet
                    perferendis, exercitationem officia corporis autem eaque omnis asperiores assumenda hic doloribus
                    vel at, numquam placeat repellendus. Sint?</p>
                <h3>David Byer</h3>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="cta">
    <h1>Buy Our Products<br> From Anywhere</h1>
    <a href="/contact" class="hero-btn">CONTACT US</a>
</section>