<!-- Content -->
<section class="products">
    <!-- <h1>Products We Provide</h1> -->
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis quis laborum consequatur<br> eligendi, hic
        reiciendis dolorem odit beatae? Assumenda, quos.</p>
    <div class="row">
        <div class="product-col">
            <img src="images/post-1.jpg">
            <div class="layer">
                <h3>PRODUCT 1</h3>
            </div>
        </div>
        <div class="product-col">
            <img src="images/post-2.jpg">
            <div class="layer">
                <h3>PRODUCT 2</h3>
            </div>
        </div>
        <div class="product-col">
            <img src="images/post-3.jpg">
            <div class="layer">
                <h3>PRODUCT 3</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="product-col">
            <img src="images/post-1.jpg">
            <div class="layer">
                <h3>PRODUCT 4</h3>
            </div>
        </div>
        <div class="product-col">
            <img src="images/post-2.jpg">
            <div class="layer">
                <h3>PRODUCT 5</h3>
            </div>
        </div>
        <div class="product-col">
            <img src="images/post-3.jpg">
            <div class="layer">
                <h3>PRODUCT 6</h3>
            </div>
        </div>
    </div>
</section>

<!-- Comment Box -->
<div class="comment-box">
    <h3>Leave a Comment</h3>

    <form class="comment-form">
        <input type="text" placeholder="Enter Name">
        <input type="text" placeholder="Enter Email">
        <textarea rows="5" placeholder="Your Comment"></textarea>
        <button type="submit" class="btn">POST COMMENT</button>
    </form>
</div>