<!-- Content -->
<section class="services">
    <h1>Services We Provide</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure molestias pariatur porro<br> rem inventore atque
        exercitationem laborum quos quibusdam earum.
    </p>

    <div class="row">
        <div class="service-col">
            <h3>Basic</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col">
            <h3>Classic</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col">
            <h3>Premium</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
    </div>
</section>

<!-- Facalities -->
<section class="team">
    <h1>Facalities We Provide</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et deserunt similique vero,<br> cumque expedita commodi
        quisquam rerum reiciendis molestias sunt.</p>

    <div class="row1">
        <div class="team-col">
            <img src="Images/abstract-web.jpg">
            <h3>Website Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, fugit.</p>
        </div>
        <div class="team-col">
            <img src="Images/abstract-cat.jpg">
            <h3>Catalogue Designing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, fugit.</p>
        </div>
    </div>
    <div class="row2">
        <div class="team-col">
            <img src="Images/abstract-bus.jpg">
            <h3>Business Consultancy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, fugit.</p>
        </div>
        <div class="team-col">
            <img src="Images/abstract-pos.jpg">
            <h3>Posters & Posts Designing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, fugit.</p>
        </div>
    </div>
</section>